/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/PopUp/Popup.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Popup_popup__pcZWJ {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #fff;
    padding: 32px 78px;
    display: none;
    z-index: 3;
  }
  
  .Popup_popup_is-opened__3y5_0 {
    display: block;
  }
  
  .Popup_close__M_DKk {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 12px;
    right: 12px;
  }
  
  .Popup_close-icon__JtFx3 {
    width: 16px;
    height: 25px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .Popup_close-icon__JtFx3:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  
  @media (max-width: 650px) {
    .Popup_popup__pcZWJ {
      width: 90%;
      padding: 32px 24px;
    }
  }
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/Overlay/Overlay.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Overlay_overlay__87APJ {
    position: fixed;
    top: 0;
    left: 0;
    inset: 0;
    background-color: rgb(0 0 0 / 0.4);
    display: none;
  }
  
  .Overlay_overlay_is-opened__QKW4v {
    display: block;
  }
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/AuthForm/AuthForm.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.AuthForm_form__SAM4_ {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .AuthForm_form__title__bh8UF {
    margin-bottom: 24px;
    font-size: 36px;
  }
  
  .AuthForm_form__fields__9NEi0 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .AuthForm_form__field__8_VIY {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .AuthForm_form__field-title__KiNGx {
    margin-bottom: 8px;
    font-size: 22px;
  }
  
  .AuthForm_form__field-input__rnkmC {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 16px 24px;
    font-family: inherit;
    font-size: 22px;
  }
  
  .AuthForm_form__actions__QgxEI {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
  }
  
  .AuthForm_form__reset__t8DRW {
    font-family: "Rubic One", sans-serif;
    background-color: transparent;
    font-size: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: none;
    padding: 16px 24px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .AuthForm_form__reset__t8DRW:hover {
    color: yellow;
    background-color: #000;
  }
  
  .AuthForm_form__reset__t8DRW:disabled {
    opacity: .9;
    pointer-events: none;
  }
  
  .AuthForm_form__reset__t8DRW:hover + .AuthForm_form__submit__pJzk2 {
    color: #000;
    background-color: transparent;
  }
  
  .AuthForm_form__submit__pJzk2 {
    background-color: #000;
    color: #fff;
    font-family: "Rubic One", sans-serif;
    font-size: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: none;
    padding: 16px 24px;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
  }
  
  .AuthForm_form__submit__pJzk2:hover {
    color: yellow;
  }
  
  .AuthForm_form__submit__pJzk2:disabled {
    opacity: .5;
    pointer-events: none;
  }

  .AuthForm_form__message__jeZGO{
    margin-bottom: 20px;
  }
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/Header/Header.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__hrF4W {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 20px;
    gap: 20px;
    justify-content: space-between;
    border-top: 4px solid black;
    border-bottom: 8px solid black;
    border-left: 14px solid black;
  }
  
  .Header_logo__0h7JC {
    display: block;
    padding: 20px 0px;
    width: 148px;
    min-width: 148px;
    align-self: center;
  }
  
  .Header_logo__image__512Hy {
    width: 100%;
  }
  
  .Header_menu__8FCNf {
    display: flex;
    width: 90%;
    justify-content: space-between;
    border-left: 14px solid black;
    justify-self: end;
  }
  
  .Header_menu__list__8hP64 {
    display: grid;
    grid-gap: 4px;
    gap: 4px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    width: 100%;
  }
  
  .Header_menu__item__sjT_f {
    display: flex;
    width: 100%;
  }
  
  .Header_menu__link__ZucvR {
    font-family: 'Rubic One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px 10px;
    text-transform: uppercase;
    font-size: 30px;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    box-shadow: 4px 4px 0 black, -4px -4px 0 black, -4px 4px 0 black,
      4px -4px 0 black;
  }
  
  .Header_menu__link_active__KYq02 {
    background-color: #ffff00;
    pointer-events: none;
  } 
  
  .Header_menu__link__ZucvR:hover {
    background-color: #ffff00;
  }
  
  .Header_auth__XjkQJ {
    display: flex;
  }
  
  .Header_auth__button__7tPqk {
    font-size: 30px;
    font-family: 'Rubic One', sans-serif;
    background-color: transparent;
    border: none;
    padding: 12px 20px 10px;
    border-left: 4px solid black;
    text-transform: uppercase;
    color: white;
    background-color: black;
    transition: color 0.3s ease-in-out;
  }
  
  .Header_auth__button__7tPqk:hover {
    color: #ffff00;
  }
  
  @media (max-width: 1440px) {
    .Header_logo__0h7JC {
      width: 140px;
      min-width: 140px;
      padding: 10px 0px;
    }
  
    .Header_menu__link__ZucvR {
      font-size: 20px;
    }
  
    .Header_auth__button__7tPqk {
      font-size: 20px;
    }
  }
  
  @media (max-width: 1200px) {
    .Header_menu__8FCNf {
      width: 100%;
    }
  
    .Header_menu__list__8hP64 {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 768px) {
    .Header_logo__0h7JC {
      justify-self: center;
    }
  
    .Header_header__hrF4W {
      grid-template-columns: 1fr;
    }
  
    .Header_menu__8FCNf {
      border-top: 4px solid black;
      border-left: none;
      flex-direction: column;
    }
  
    .Header_auth__button__7tPqk {
      width: 100%;
      padding: 18px 20px 10px;
    }
  }
  
  @media (max-width: 650px) {
    .Header_banner__2OWzL {
      padding: 80px 14px;
    }
  }
  
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/Footer/Footer.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Footer_footer__YgQC9 {
    background-color: black;
    border-top: 4px solid white;
    border-left: 14px solid white;
    color: white;
    padding: 0px 115px 0px 24px;
    display: flex;
    justify-content: space-between;
  }
  
  .Footer_footer__logo__Mmgbk {
    display: block;
    padding: 20px 0px;
    width: 100%;
    align-self: center;
  }
  
  .Footer_footer__logo-name__OLRT5 {
    font-family: 'Rubic One', sans-serif;
    text-transform: uppercase;
    font-size: 26px;
  }
  
  .Footer_social-list__fwHMn {
    display: flex;
    border-left: 14px solid white;
  }
  
  .Footer_footer__YgQC9 .Footer_social-list__link__x1pN7 {
    text-transform: uppercase;
    font-weight: bold;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 0;
    border-right: 4px solid white;
    color: white;
    height: 100%;
    border-top: 0;
    border-bottom: 0;
  }
  
  .Footer_footer__YgQC9 .Footer_social-list__link__x1pN7:hover {
    background-color: #FFFF00;
    color: black;
  }
  
  @media (max-width: 1440px) {
    .Footer_footer__YgQC9{
        padding: 0px 90px 0px 24px;
    }
  }

  @media (max-width: 768px) {
    .Footer_footer__YgQC9{
        padding: 0px;
    }
  }

  @media (max-width: 650px) {
    .Footer_footer__YgQC9{
        flex-direction: column;
        padding: 14px;
    }
    .Footer_social-list__fwHMn {
        border-left: none;
        gap: 10px;
      }
    
      .Footer_footer__YgQC9 .Footer_social-list__link__x1pN7 {
        border: 4px solid white;
        padding: 10px;
        font-size: 24px;
      }
  }
/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: 'Anonymous Pro';
  src: url(/fonts/anonymouspro-regular.woff);
  font-weight: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'Anonymous Pro';
  src: url(/fonts/anonymouspro-bold.woff);
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Rubic One';
  src: url(/fonts/rubic-one.woff);
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Anonymous Pro', serif;
  font-size: 26px;
  max-width: 1728px;
  min-width: 365px;
  border-right: 4px solid black;
  border-left: 4px solid black;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubic One', sans-serif;
  margin: 0;
}

ul, ol, li, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.button {
  font-family: 'Rubic One', sans-serif;
  display: block;
  padding: 18px 35px;
  border: 4px solid black;
  background-color: transparent;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  font-size: 30px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  white-space: nowrap;
}

.button:hover {
  background-color: black;
  color: #FFFF00;
}

.main {
  overflow: hidden;
}

@media (max-width: 1728px) {
  body {
    border: none;
  }
}

@media (max-width: 1440px) {
  body {
    font-size: 20px;
  }

  .button {
    font-size: 20px;
  }

}

